- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-sm-12
              %h2.text-center
                = image_tag "gykg.jpg"
            .col-md-8.offset-2.p-5.border
              .card.border-0.mb-3.rounded-0
                .card-header.bg-transparent.border-dark
                  %h5
                    = Setting.engines.label
                .card-body
                  %table.table-bordered.day-pdt-table.w-100.mb-3
                    %tbody
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.engines.template
                        %td.p-2.text-center
                          = @engine.template
                    
                      
                        %td.p-2.text-center
                          = Setting.engines.consult
                        %td.p-2.text-center
                          = @engine.consult
                    
                      
                        %td.p-2.text-center
                          = Setting.engines.point
                        %td.p-2.text-center
                          = @engine.point
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.engines.des1
                        %td.p-2.text-center
                          = @engine.des1
                    
                      
                        %td.p-2.text-center
                          = Setting.engines.des2
                        %td.p-2.text-center
                          = @engine.des2
                    
                      
                        %td.p-2.text-center
                          = Setting.engines.des3
                        %td.p-2.text-center
                          = @engine.des3
                    
              .row
              
                .col-md-6
                  = image_tag @engine.logo_url, :class => "w-100"
              
              .row
              
              .row
              
              
              
      = render "layouts/bootstrap/card"
