.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @wxtool, :url => "/wxtools/#{@wxtool.id ? idencode(@wxtool.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @wxtool.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@wxtool.errors.count, "错误")}:"
            %ul
              - @wxtool.errors.full_messages.each do |msg|
                %li= msg
        .row
          .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
              = Setting.wxtools.label
          .col-md-8.offset-md-2.p-5.border
            #flash_explanation
            .card.border-0.mb-3.rounded-0
              -#
                .card-header.bg-transparent.border-success
                %h5
              .card-body
                %table.w-100.table-bordered.day-pdt-table
                  %tbody
                    
                    -#
                      %td.p-2.text-center
                        = f.label Setting.wxtools.name, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_field :name, :class => "form-control" , :required => true
                      
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.wxtools.secd_id, :class => "text-center"
                      %td.p-2.text-center
                        = f.select :secd_id, options_for_wxtool_secds, {:include_blank=>false}, {:class=>"form-control"}
                    
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.wxtools.link, :class => "text-center"
                      %td.p-2.text-center{:colspan => 3}
                        = f.text_field :link, :class => "form-control" , :required => true
                      
                    
                    
                      

                  -#
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.wxtools.desc, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_field :desc, :class => "form-control" 
                      
                    
          
          
          
          
          
            .form-group.row
              .col-3.offset-3
                = f.submit '保存', :class => "button  button-small button-action"
            -#
              .col-3.offset-1
                = link_to '返回', wxtools_path, :class => "button button-small  button-caution"
