.nested-fields
  .form-group
    .field.d-inline
      .form-group.row
        .col-sm-4
          = f.text_field :name, :class => "form-control", :placeholder => Setting.selectors.name
        .col-sm-2
          = f.text_field :title, :class => "form-control", :placeholder => "选文本就填导出的文件名,选属性就填属性名, 图片就填图片地址属性" 
        
        .col-sm-2
          .form-group.row
            = f.label Setting.selectors.category, :class => "col-sm-3 text-right"
            .col-sm-9
              = f.select :category, options_for_spider_category, {:include_blank => false}, {:class => "form-control"}

        .col-sm-3
          .form-group.row
            = f.label '是否保存文件', :class => "col-sm-3 col-form-label text-right"
            .col-sm-9
              .form-check.form-check-inline
                = f.radio_button :file, Setting.systems.status_en_yes, :class => "form-check-input", :checked => "checked"
                = f.label Setting.systems.status_yes, :class => "form-check-label"
              .form-check.form-check-inline
                = f.radio_button :file, Setting.systems.status_en_no, :class => "form-check-input"
                = f.label Setting.systems.status_no, :class => "form-check-label"



        .col-sm-1
          = link_to_remove_association "删除", f, :class => "btn btn-danger btn-sm d-inline"
