.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @shutter, :url => "/shutters/#{@shutter.id ? idencode(@shutter.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @shutter.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@shutter.errors.count, "错误")}:"
            %ul
              - @shutter.errors.full_messages.each do |msg|
                %li= msg
        .row
          -#
            .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
              = Setting.shutters.label
          .col-md-8.offset-md-2.p-5.border
            #flash_explanation
            .card.border-0.mb-3.rounded-0
              .card-body
                %table.w-100.table-bordered.day-pdt-table
                  %tbody
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.shutters.title, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_field :title, :class => "form-control"
                      
                    
                      %td.p-2.text-center
                        = f.label Setting.shutters.sequence, :class => "text-center"
                      %td.p-2.text-center
                        = f.number_field :sequence, :class => "form-control", :step => "any"  , :required => true
                      
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.shutters.link, :class => "text-center"
                      %td.p-2.text-center{:colspan => 3}
                        = f.text_field :link, :class => "form-control" 
                      
                    
                    
                    
          
            .form-group.row
              = f.label "图片570px*410px", :class => "col-2 col-form-label text-right"
              .col-10
                %label.newbutton
                  = image_tag f.one_image("photo"), :class => "blah"
                  = f.file_field :photo, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
          
          
          
          
          
            .form-group.row
              .col-3.offset-3
                = f.submit '保存', :class => "button  button-small button-action"
            -#
              .col-3.offset-1
                = link_to '返回', shutters_path, :class => "button button-small  button-caution"
