- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-sm-12
              %h2.text-center
                = image_tag "gykg.jpg"
            .col-md-8.offset-2.p-5.border
              .card.border-0.mb-3.rounded-0
                .card-header.bg-transparent.border-dark
                  %h5
                    = Setting.shutters.label
                .card-body
                  %table.table-bordered.day-pdt-table.w-100.mb-3
                    %tbody
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.shutters.title
                        %td.p-2.text-center
                          = @shutter.title
                    
                      
                        %td.p-2.text-center
                          = Setting.shutters.link
                        %td.p-2.text-center
                          = @shutter.link
                    
                      
                        %td.p-2.text-center
                          = Setting.shutters.sequence
                        %td.p-2.text-center
                          = @shutter.sequence
                    
              .row
              
                .col-md-6
                  = image_tag @shutter.photo_url, :class => "w-100"
              
              .row
              
              .row
              
              
              
      = render "layouts/bootstrap/card"
