.container-fluid
  .row
    .col-12
      -#
        = form_tag search_controls_path, :method => "post", :class => "card card-sm" do
      .card.card-sm
        .card-body
          %p.text-danger
            新添加数据于第二日才能被搜索到
          .row.no-gutters.align-items-center.border.pl-3
            .col-auto
              %i.fas.h4.text-body
                = fa_icon "search"
            .col
              = text_field_tag 'search', '', :class => "form-control form-control-lg form-control-borderless search-blank-text", :placeholder => "搜索... 推荐关键词格式：物资名 型号", :type => "search"
            .col-auto
              %button.button.button-primary.search-blank-submit{:type => "button"} 搜&nbsp;索 
          -#
            .row.mt-3
            %ul.list-group.list-group-horizontal.pl-3
              %li.list-group-item.border-0
                .form-check.form-check-inline
                  = radio_button_tag 'ware_search', Setting.wares.water_item, true, class: "form-check-input", :id => 'water_item'
                  = label_tag 'water_item', Setting.water_items.label, :class => "form-check-label"
              %li.list-group-item.border-0
                .form-check.form-check-inline
                  = radio_button_tag 'ware_search', Setting.wares.sewage_item, false, class: "form-check-input", :id => 'sewage_item'
                  = label_tag 'sewage_item', Setting.sewage_items.label, :class => "form-check-label"
              %li.list-group-item.border-0
                .form-check.form-check-inline
                  = radio_button_tag 'ware_search', Setting.wares.project_item, false, class: "form-check-input", :id => 'project_item'
                  = label_tag 'project_item', Setting.project_items.label, :class => "form-check-label"
              %li.list-group-item.border-0
                .form-check.form-check-inline
                  = radio_button_tag 'ware_search', Setting.wares.repair_part, false, class: "form-check-input", :id => 'repair_part'
                  = label_tag 'repair_part', Setting.repair_parts.label, :class => "form-check-label"
              %li.list-group-item.border-0
                .form-check.form-check-inline
                  = radio_button_tag 'ware_search', Setting.wares.emergency, false, class: "form-check-input", :id => 'emergency'
                  = label_tag 'emergency', Setting.emergencies.label, :class => "form-check-label"
              %li.list-group-item.border-0
                .form-check.form-check-inline
                  = radio_button_tag 'ware_search', Setting.wares.stuff, false, class: "form-check-input", :id => 'stuff'
                  = label_tag 'stuff', Setting.stuffs.label, :class => "form-check-label"
              -#
                %li.list-group-item.border-0
                  .form-check.form-check-inline
                    = radio_button_tag 'ware_search', Setting.wares.device, false, class: "form-check-input", :id => 'stuff'
                    = label_tag 'device', Setting.devices.label, :class => "form-check-label"
                %li.list-group-item.border-0
                  .form-check.form-check-inline
                    = radio_button_tag 'ware_search', Setting.wares.uphold, false, class: "form-check-input", :id => 'stuff'
                    = label_tag 'uphold', Setting.upholds.label, :class => "form-check-label"


    .col-12#search-result-ctn
      %table#item-table.text-center{:'data-toggle' => "table", :'data-id-table'=>"advancedTable", :"data-pagination"=>"true", :'data-page-size' => "15", :"data-search" => "true", :'data-advanced-search'=>"true", :'data-virtual-scroll' => false }
        %thead
          %tr
            %th{:scope => "col", :'data-field' => "id"} #
          
            %th{:scope => "col", :'data-field' => "name"}
              名称
            %th{:scope => "col", :'data-field' => "mdno"}
              型号
            %th{:scope => "col", :'data-field' => "count"}
              库存
            %th{:scope => "col", :'data-field' => "fctname"}
              公司
