.nested-fields.nestd-item
  .form-group
    .field.d-inline
    
      .form-group.row
        = f.label Setting.departments.name, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.text_field :name, :class => "form-control", :required => true 
        
      .form-group.row
        = f.label Setting.departments.info, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.text_area :info, :class => "form-control", :rows => "20"
        
    = link_to_remove_association "X", f, :class => "nestd-notify-badge"
