.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @answer, :url => "/answers/#{@answer.id ? idencode(@answer.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @answer.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@answer.errors.count, "错误")}:"
            %ul
              - @answer.errors.full_messages.each do |msg|
                %li= msg
        .row
          .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
          .col-md-8.offset-md-2.p-5.border
            #flash_explanation
            .card.border-0.mb-3.rounded-0
              .card-header.bg-transparent.border-success
                %h5
                  = Setting.answers.label
              .card-body
                %table.w-100.table-bordered.day-pdt-table
                  %tbody
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.answers.content, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_area :content, :class => "form-control", :rows => "10" , :required => true
                      
                    
          
          
          
            .form-group.row
              = f.label "附图", :class => "col-2 text-right col-form-label col-form-label"
              .col-10
                .row
                  = f.fields_for :enclosures do |enclosure|
                    = render 'enclosure_fields', f: enclosure
                  .links
                    = link_to_add_association "添加文件", f, :enclosures, :class => "button button-small button-primary"
          
          
          
            .form-group.row
              .col-3.offset-3
                = f.submit '保存', :class => "button  button-small button-action"
            -#
              .col-3.offset-1
                = link_to '返回', answers_path, :class => "button button-small  button-caution"
