.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @home_setting, :url => "/home_settings/#{@home_setting.id ? idencode(@home_setting.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @home_setting.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@home_setting.errors.count, "错误")}:"
            %ul
              - @home_setting.errors.full_messages.each do |msg|
                %li= msg
        .row
          .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
              = Setting.home_settings.label
          .col-md-8.offset-md-2.p-5.border
            #flash_explanation
            .card.border-0.mb-3.rounded-0
              .card-header.bg-transparent.border-success
                .row
                  - @secds.each do |f|
                    .col-2.text-left
                      %label.checkbox-inline.mr-5
                        = check_box_tag 'settings', f.id, nil, {class: 'secd-item', :'data-name' => f.name} 
                        = f.name
                .row
                  .col-12.secd-html
              .card-body
                %table.w-100.table-bordered.day-pdt-table
                  %tbody
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.home_settings.diyi, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_area :diyi, :class => "form-control", :rows => "10" 
                      
                    
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.home_settings.dangjian, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_area :dangjian, :class => "form-control", :rows => "10" 
                      
                    
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.home_settings.dier, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_area :dier, :class => "form-control", :rows => "10" 
                      
                    
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.home_settings.disan, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_area :disan, :class => "form-control", :rows => "10" 
                      
                    
          
            .form-group.row
              = f.label "一个附图", :class => "col-2 col-form-label text-right"
              .col-10
                %label.newbutton
                  = image_tag f.one_image("logo"), :class => "blah"
                  = f.file_field :logo, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
          
            .form-group.row
              = f.label "一个附图", :class => "col-2 col-form-label text-right"
              .col-10
                %label.newbutton
                  = image_tag f.one_image("avatar"), :class => "blah"
                  = f.file_field :avatar, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
          
            .form-group.row
              = f.label "一个附图", :class => "col-2 col-form-label text-right"
              .col-10
                %label.newbutton
                  = image_tag f.one_image("photo"), :class => "blah"
                  = f.file_field :photo, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
          
          
          
            .form-group.row
              = f.label "附图", :class => "col-2 text-right col-form-label col-form-label"
              .col-10
                .row
                  = f.fields_for :enclosures do |enclosure|
                    = render 'enclosure_fields', f: enclosure
                  .links
                    = link_to_add_association "添加文件", f, :enclosures, :class => "button button-small button-primary"
          
          
          
            .form-group.row
              .col-3.offset-3
                = f.submit '保存', :class => "button  button-small button-action"
            -#
              .col-3.offset-1
                = link_to '返回', home_settings_path, :class => "button button-small  button-caution"
