.card.border-0.rounded-0
  .card-body.p-0
    %ul#sidebar-lists.list-group.list-group-flush
      .accordion#accordionExample
        .card.border-0.rounded-0
          .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingdevice"}
            后台管理
          .card-body.py-0.pl-2.pr-0
            = link_to frsts_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/frst/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "tasks", text: Setting.frsts.label, class: "ml-4 mr-2"  
            = link_to home_settings_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/home_setting/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "diamond", text: Setting.home_settings.label, class: "ml-4 mr-2"  
            = link_to matters_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/matter/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "sitemap", text: Setting.matters.label, class: "ml-4 mr-2"  
            = link_to edit_engine_path(idencode(Engine.first.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/engine/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "clone", text: Setting.engines.label, class: "ml-4 mr-2"  
            = link_to positions_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/position/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "free-code-camp", text: Setting.positions.label, class: "ml-4 mr-2"  
            = link_to wxtools_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/wxtool/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "codepen", text: Setting.wxtools.label, class: "ml-4 mr-2"  
            = link_to spiders_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/spider/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "object-group", text: Setting.spiders.label, class: "ml-4 mr-2"  
          .card-header.text-left.pl-2.pr-0.py-3.border.border-left-0.border-top-0.border-bottom-0.border-success{:id => "headingdevice"}
            内容管理
          .card-body.py-0.pl-2.pr-0
            = link_to articles_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/article/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "cubes", text: Setting.articles.label, class: "ml-4 mr-2"  
            = link_to questions_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/question/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "calendar", text: Setting.questions.label, class: "ml-4 mr-2"  
            = link_to edit_home_content_path(idencode(HomeContent.first.id)), :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/home_content/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "object-ungroup", text: Setting.home_contents.label, class: "ml-4 mr-2"  
            = link_to carousels_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/carousel/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "calculator", text: Setting.carousels.label, class: "ml-4 mr-2"  
            = link_to shutters_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/shutter/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "cubes", text: Setting.shutters.label, class: "ml-4 mr-2"  
            = link_to showrooms_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0 #{(/showroom/ =~ request.path).nil? ? '' : 'text-primary'} " do
              = fa_icon "calendar", text: Setting.showrooms.label, class: "ml-4 mr-2"  
