.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      -#
        - content_for :card_header do
        %h5
          = fa_icon "list", text:  t(controller_name + "." + action_name + '.title')
      = render 'layouts/components/fct_lists_selector2s'
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-12
              %table#day-pdt-rpt-table.text-center.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :'data-id-table'=>"advancedTable", :"data-search" => "true",:'data-advanced-search'=>"true", :'data-height' => "600", :'data-virtual-scroll' => "true", :'data-show-columns' => "true", :'data-page-size' => "15"}
                %thead
                  %tr
                    %th{:scope => "col", :'data-field' => "id"} #
                  
                    %th{:scope => "col", :'data-field' => "sign_date"}
                      = Setting.sign_logs.sign_date
                  
                    %th{:scope => "col", :'data-field' => "wx_user_id"}
                      = Setting.sign_logs.wx_user_id
                  
                    %th{:scope => "col", :'data-field' => "device_id"}
                      = Setting.sign_logs.device_id
                  
                    %th{:scope => "col", :'data-field' => "avatar"}
                      照片
      = render "layouts/bootstrap/card"

-#
  = render "day_pdts/day_pdt_modal"

  #newModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newModalLabel", :tabindex => "-1"}
    .modal-dialog.modal-xl.modal-dialog-centered
      .modal-content
        .modal-header
          %h3#day-pdt-rpt-header.modal-title.text-center
          -#
            = link_to '下载excel', nil, {:id => "xls-download", :class => "button button-royal button-small pull-right"} 
        .modal-body
          .row
            .col-12.d-flex.align-items-center.justify-content-center
              #chart-ctn{:style => "width: 900px;height:400px;"}
          .row
            .col-12
              %table#day-emq-ctn.table.text-center.table-bordered
  <script>
  sday_pdt_modal();
  </script>
